body {
    color: rgb(16, 14, 14);
}

article {
    margin-bottom: 3em;
}

article h2 {
    color: rgb(9, 9, 11);
}

article section {
    margin-bottom: 1em;
    word-spacing: 2px;
   
}

p {
    font-size: 20px
  
}

ul {
    font-size: 20px;
}



