body {
    color: rgb(16, 14, 14);
}

article {
    margin-bottom: 3em;
}

article h2 {
    color: rgb(9, 9, 11);
}

article section {
    margin-bottom: 1em;
    word-spacing: 2px;
   
}

p {
    font-size: 20px
  
}

ul {
    font-size: 20px;
}

img {
    width: 1000px;
    height: 800px;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

#background {
   background-image: url(https://thumbs.dreamstime.com/b/health-safety-environment-icon-set-web-header-banner-183586413.jpg);
   background-size: cover;
   background-position: center;
   padding: 100px;
 }

 .main {
    background-color: rgb(227, 242, 250);
}

.navigationbar {
    position: relative;
    background-color:burlywood;
    margin-inline: 90px;
  }
  
  .navigationbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .navigationbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  ul {
      list-style-type: none;
      margin: 10px;
      padding: 10px;
      overflow: hidden;
      background-color:rgb(128, 219, 250);
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: black;
      text-align: center;
      padding: 14px 15px;
      text-decoration: none;
      font-size: 25px;
    }
    
    li a:hover {
      background-color: rgb(255, 255, 255);
    }
  
  ol {
      font-size: 20px;
  }

