* { 
    box-sizing: border-box;
}

h1 {
    text-align: left;
    margin-left: 20px;
}

img {
  height: 300px;
  display: block;
  margin: 50px auto;
}

.profile header {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}

.profile section {
    margin: 30px 20px;
    font-size: 16px;
}

.general header {
    background-color: beige;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding: 5px 0;
}

.general section {
    margin: 30px 20px
}

.education header {
    background-color: beige;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding: 5px 0;
}

.education section {
    margin: 30px 20px
}

.training header {
    background-color: beige;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding: 5px 0;
}

.training section {
    margin: 30px 20px
}

.involvements header {
    background-color: beige;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding: 5px 0;
}

.achievements header {
    background-color: beige;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding: 5px 0;
}

li {
    margin: 30px;
}