h1 {
  background-image: url(https://cdn-cms.pgimgs.com/areainsider/2019/01/Cheras-MRT.jpg);
  background-size: cover;
  background-position: center;
  padding: 250px;
}

h1 {
  opacity: 0.75;
  text-align: center;
  letter-spacing: 35px;
  padding: 150px;
  font-size: 60px;
  color: rgb(255, 255, 255);
}

.navigationbar {
  position: relative;
  background-color: white;
  margin-inline: 90px;
}

.navigationbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.navigationbar a:hover {
  background-color: #ddd;
  color: black;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  background-color:rgb(141, 119, 88);
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
  font-size: 25px;
}

li a:hover {
  background-color: rgb(255, 255, 255);
}

h2 {
  font-size: 40px;
  margin-top: 80px;
}

.main {
  background-color:burlywood;
}

table, td, th {  
   border: 1px solid rgb(0, 0, 0);
   text-align: left;
 }
 
 table {
   border-collapse: collapse;
   width: 70%;
   margin: 0 100px;
 }
 
 th, td {
   padding: 15px
 }

 table {
   background-image: url();
   background-color: bisque;
   
 }

 div.gallery {
  margin: 50px;
  padding: 15px;
  border: 2px solid rgb(0, 0, 0);
  float: left;
  width: 200px;
  background-color:antiquewhite;
}

div.gallery:hover {
  border: 10px solid rgb(68, 42, 3);
}

 div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

section.description {
  display: inline-block;
    display: inline-block;
    width: 50%;
    padding: 4%;
    background-color: rgb(131, 70, 5);
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
}

p {
  line-height: 1.5;
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 20px;
}

 figure.picture {
  border: 4px solid rgb(60, 32, 1);
  border-radius: 4px;
  padding: 5px;
  width: 900px;
  background-color: antiquewhite;
}

.container {
  display: inline-flex;
  width: 50%;
}

.main {
  background-color:burlywood;
}
